<ion-view view-title="Browse">
  <ion-content>
    <h1>Browse</h1>

  <!-- <ul class="nav-test">
    <li class="active">accueil</li>
    <li>forum</li>
    <li>contact</li>
  </ul> -->

    <!-- <div class="test">
      balise de test
      <div class="test2">test 2</div>
      <ul class="liste">
        <li>élément 1</li>
        <li>élément 2</li>
        <li>élément 3</li>
        <li>élément 4</li>
      </ul>
      <ul class="liste2">
        <li>élément 1</li>
        <li>élément 2</li>
        <li>élément 3</li>
        <li>élément 4</li>
      </ul>
    </div>

    <div class="relative">
      loremp ipsum
      <div class="absolute">
        test
      </div>
    </div>
    <div class="content">
      <div class="sidebar">lorem ipsum</div>
      <div class="right">texte</div>
    </div>

    <div class="overlay1"></div>
    <div class="modal1">blablabla qehhrbh qerh qeh heqhehqehqehehje qeh h</div> -->


    <div class="maDiv1">lorem ipsum</div>
    <div class="maDiv2">blabla</div>

  </ion-content>
</ion-view>
