

    <!-- <button type="" ng-click="showConfirm();">Pop up</button>
    {{testa}} -->


    <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
      <!-- Tab 1 content -->
        <div style="padding-top: 100px;">
          <button>test1</button>
        </div>

    </ion-tab>

    <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
      <!-- Tab 2 content -->
        <div style="padding-top: 100px;">
          <button>test2</button>
        </div>

      </ion-tab>

      <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
        <!-- Tab 3 content -->
          <div style="padding-top: 100px;">
            <button ng-click="f()">test 3</button>
          </div>

    </ion-tab>

  </ion-tabs>
