/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

@import url(https://fonts.googleapis.com/css?family=Roboto|Bangers);


/***********
sass
************/
div img{
  background: #16f2f2;
  border : 5px solid #f304a0;
  width: 100%;
  margin-bottom: 10px;
}

div.admin{
  text-align: right;
  margin: 0 10px 10px 0;
  }


article.block-article{
  margin: 10px 0 275px;
  text-align: center;
  .picture{
    width: 80%;
  }
  .quotes{
    margin: 10px 0 0;
    font-style: italic;
    font: 1.7rem Bangers, sans-serif;
  }
  .name{
    margin: 10px 0 10px;
    font: 1.2rem Roboto, Arial, serif;
    font-weight: bold;
    color: grey;
  }
  .likes{
    color: #f304a0;
    &:hover{
      color: yellow;
    }
  }
  .random{
    margin: 10px 0 0;
    button{
    background-color: black;
    color:white;
    }
  }
}


div.bar-footer{
  background: #16f2f2;
  div.title{
    color:#f304a0;
    font: 2rem sans-serif;
  }
}

// ul.nav-test{
//   li{
//     float: left;
//     padding: 25px;
//     &.active{
//       &::after{
//         content: '';
//         height: 5px;
//         width: 100%;
//         background: blue;
//         position: absolute;
//         bottom: -5px;
//         left: 0;
//       }
//     }
//   }
// }
//
// div.relative {
//   position: relative;
//   background-color: pink;
//   height: 50px;
//   width: 100%;
//
//   div.absolute {
//     position: absolute;
//     left: 0;
//     right: 0;
//     margin: 0 auto;
//     top: 0;
//     background: blue;
//     height: 50px;
//     width: 100px;
//   }
// }
//
// div.test{
//   background-color: red;
//   div.test2{
//     background-color: yellow;
//     color: black;
//   }
//   ul{
//     padding: 25px;
//     &.liste{
//       background: #ddd;
//     }
//   }
// }
//
// div.content{
//   div.sidebar{
//     width: 100px;
//     background: blue;
//     color: #fff;
//     height: 50px;
//     float: left;
//   }
//   div.right {
//     width: calc(100% - 100px);
//     float: right;
//     height: 50px;
//     background: yellow;
//     color:red;
//     margin: 0px 0 0;
//   }
// }

// div.modal1{
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   margin: 0 auto;
//   width: 200px;
//   padding: 15px;
//   z-index: 1000;
//   background: #fff;
// }
// div.overlay1{
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0,0,0,0.5);
//   position: fixed;
//   z-index: 100;
//   top: 0;
// }
