@import url(https://fonts.googleapis.com/css?family=Roboto|Bangers);

/* ------------------------------------------------
Custom reset
-------------------------------------------------*/
h1, h2, h3, h4, h5, h6, ul, ol {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body{
  background: #57C7DD;
  text-align: center;
}

figure {
  margin: 0;
}

/* ------------------------------------------------
screen logo
-------------------------------------------------*/
@media (min-width: 320px) {
   .block-header .logo > img,
   .block-article .picture > img {
      width: 300px;;
   }
}
@media (min-width: 768px) {
   .block-header .logo > img,
   .block-article .picture > img {
      width: 400px;
   }
}
@media (min-width: 1024px) {
   .block-header .logo > img,
   .block-article .picture > img {
      width: 600px;;
   }
}

/* ------------------------------------------------
header
-------------------------------------------------*/
.block-header {
  border: 3px solid #fd0386;
}

.block-header img{
  width: 100%;
}

/* ------------------------------------------------
main
-------------------------------------------------*/
.block-main{
  background: white;
}

.block-main .block-article{
  padding: 0 0 250px;
}

.block-main .picture{
  margin: 20px 0 ;
}

.block-article .picture > img{
  border: 3px solid #fd0386;
}

.block-article .content li{
  padding: 0 0 10px;
}


.block-article .content .quotes {
  font: 2rem Bangers sans-serif;
  font-style: italic;
  color: black;
}

.block-article .content .name {
  font: 1.5em Roboto sans-serif;
}

.block-article .content .likes {
  color: grey;
}

.block-article .content .likes:hover,
.block-article .content .red{
  color: #fd0386;
  cursor: pointer;
}

.block-article .random button{
  background-color: black;
  color: white;
  margin: 0 0 20px;
}


/* ------------------------------------------------
footer
-------------------------------------------------*/
div.bar-footer{
  background-color: #57C7DD;
}

.bar-footer .title{
  color: #fd0386;
  background-color: #57C7DD;
  font: 3rem Roboto sans-serif;
}
/* ------------------------------------------------
laptop
-------------------------------------------------*/

@media (min-width: 1024px){
  .block-main .content > .quotes,
  .block-main .content > .name{
    font-size: 2rem;

  }


}
