/*-----------------------------------------------------------------------------
form
-----------------------------------------------------------------------------*/
.group:after{
	content: "";
	clear: both;
	display: table;
}

.texte{
  border: 2px solid black;
  margin-bottom: 10px;
}

.body{
	background-color: grey;
}

 .body li > a{
	color: black;

}

.body li {
	padding: 10px;
	border-bottom: 1px solid lightgrey;
}

.body li:hover {
	background: #656565;
}

.spacer{
	width: 283px; 
	height: 12px;
}

ion-view{
	background-color: rgb(255, 255, 255);
}

.titre{
	margin-left: -10px;
	width: calc(100% + 20px);
}

.main input{
	border:1px solid black;
	display:inline;
	margin-left: 20px;

}
.main button{
	border:1px solid black;
	float: right;
	margin-right: 50px;	
}

.has-header button{

}

.spacer{
	width: 283px;
	height: 14px;
}




