<link rel="stylesheet" type="text/css" href="assets/css/style2.css">

<ion-view title="Page" id="page">
  <ion-content  ng-controller="AuteursController"padding="true" class="has-header">
     <button ng-click="versIndex()">retour</button>
    <div class="spacer"></div>
    <div class = "main group" ng-controller="AuteursController">
      <input class="texte" ng-model="authorName" type="text">
      <button class="button button-state button-small ic-selected " ng-click="createAuthor()">Créer</button>
    </div>
    <div class="spacer"></div>
    <div class = "liste">
       <ion-list  id="page-list" ng-repeat="auteur in auteurs">
         <ion-item class="item-divider" id="page2-list-item-divider5" ng-click="versAuteur(auteur.id)">{{auteur.name}}</ion-item>

       </ion-list>
       <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>
    
   </div>
  </ion-content>
</ion-view>
