<form class="block-form">
    <div class="container" ng-controller="AuteurController">
        <div class="auteur">
        <button ng-click="versAuteurs()">retour</button>
            <span class="auteur">Nom de l'auteur</span>
            <input type="text" placeholder="Ajouter un auteur" value="{{auteur.name}}"/>
            <button class="btn btn-warning">Modifier</button>
        </div>
    </div>

    <div class="container">
        <div class=" new_citation" ng-controller="AuteurController">
            <textarea placeholder="Ajouter une citation" ng-model="citation"></textarea>
            <button class="btn btn-primary" ng-click="createQuote()">Ajouter</button>
        </div>
    </div>

    <div class="container">
        <div class="citations" ng-repeat="citation in auteur.citations">
            <div class="citation">
                <p class="text-left">{{citation.content}}</p>
                <button class="btn btn-warning">Modifier</button>
                <button class="btn btn-success">Enregistrer</button>
                <button class="btn btn-danger">Supprimer</button>
                <button class="btn btn-primary">Annuler</button>
            </div>
        </div>
    </div>
</form>
