<ion-view view-title="Browse">
  <ion-content>
    <div class="admin">
      <button ng-click="admin()">
        Admin
      </button>
    </div>

    <article class="block-article">


          <div><img class="picture"src="assets/images/jcvd-3.jpg" alt=""></div>

            <div class="content">
              <ul>
                <li class="quotes">"{{citation.content}}"</li>
                <li class="name">{{citation.author.name}}<li>
                <li ><a ng-class="class" class="likes" ng-click="likes(citation.id)">&#10084; {{citation.likes}}</a></li>

              </ul>
            </div>

            <div class="random">
              <button class="next" ng-click="getRandom()">Aléatoire</button>
            </div>


    </article>
  </ion-content>
</ion-view>
