<ion-view view-title="Browse">
  <ion-content>
    <article class="block-article">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 box">
            <!-- <div class="picture"><img src="{{citation.image}}"/></div> -->
            <div class="picture"><img src="assets/images/jcvd-3.jpg" alt=""></div>

            <div class="content">
              <ul>
                <li class="quotes">"{{citation.content}}"</li>
                <li class="name">{{citation.author.name}}<li>
                <li ><a ng-class="class" class="likes" ng-click="likes(citation.id)">&#10084; {{citation.likes}}</a></li>

              </ul>
            </div>

            <div class="col-xs-12 arrow">
              <button class="next" ng-click="getRandom()">Aléatoire</button>
            </div>
          </div>



        </div>
      </div>
    </article>
  </ion-content>
</ion-view>
